<nav aria-label="Breadcrumb">
  <ol>
    <li>
      <a href="{{ chrisf.rootUrl }}/" class="thick-underline">Home</a>
    </li>

    {# check for posts sub pages - makes Posts a link and displays title - for sub-archvies, e.g. weeknotes, and posts themselves #}
    {% set postsSubpageRegExp = r/\/posts\/\D+/g %}
    {% if postsSubpageRegExp.test(page.url) %}
      <li>
        <a href="{{ chrisf.rootUrl }}/posts/" class="thick-underline">Posts</a>
      </li>
      <li>
        {{ title }}
      </li>     
    {% else %}
      <li>{{ title }}</li>
    {% endif %}

  </ol>
</nav>