<article class="post-card">
  <h3><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
  <p class="description">{{ post.data.description }}</p>
  <a href="{{ post.url | url }}" class="read-link thick-underline">Read article <span role="presentation">&#8658;</span></a>
</article>