<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta property="og:title" content="{{ title }}" />
    {%if permalink %}
      <meta property="og:url" content="https://chris-f.com{{ permalink }}" />
    {% endif %}
    {%if featuredImage %}
      <meta property="og:image" content="{{ chrisf.rootUrl }}{{ featuredImage }}" />
    {% endif %}
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
 
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <!--homepage stylesheet -->
    {%if templateClass == "tmpl-home" %}
      <link href="/css/homepage.css" rel="stylesheet" type="text/css">
    {% endif %}
    <!--404 stylesheet -->
    {%if templateClass == "tmpl-404" %}
      <link href="/css/four-oh-four.css" rel="stylesheet" type="text/css">
    {% endif %}
    <!--post stylesheet -->
    {%if tags and tags | checkIfPost %}
      <link href="/css/posts.css" rel="stylesheet" type="text/css">
    {% endif %}

    {% include "schema.njk" %}
  </head>
  <body>
    {% include "analytics.njk" %}
    <header>
      <div class="brand"><a href="{{ chrisf.rootUrl }}">Chris Ferguson</a></div>
      {% if page.url != "/" %}
        {% include "breadcrumb.njk" %}
      {% endif %}
    </header>

    <main class="{% if templateClass %}{{templateClass}}{% else %}page{% endif %}">
      {{ content | safe }}
    </main>

  </body>
</html>