<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ metadata.description }}">

    <!-- inline main typography styles -->
    <style>
      @font-face {
        font-family: 'Cardo';
        src: url('../fonts/Cardo-Regular.woff2') format('woff2'), url('../fonts/Cardo-Regular.woff') format('woff');
        font-weight: 400;
        font-display: swap;
      }
      @font-face {
        font-family: 'Cardo';
        src: url('../fonts/Cardo-Italic.woff2') format('woff2'), url('../fonts/Cardo-Italic.woff') format('woff');
        font-weight: 400;
        font-style: italic;
        font-display: swap;
      }
      @font-face {
        font-family: 'Cardo';
        src: url('../fonts/Cardo-Bold.woff2') format('woff2'), url('../fonts/Cardo-Bold.woff') format('woff');
        font-weight: 700;
        font-display: swap;
      }
      @font-face {
        font-family: 'Work Sans';
        src: url('../fonts/WorkSans-Bold.woff2') format('woff2'), url('../fonts/WorkSans-Bold.woff') format('woff');
        font-weight: 700;
        font-display: swap;
      }

      :root{
        --font-family-main: 'Cardo', serif;
        --font-family-headers: 'Work Sans', sans-serif;
      }

      html {
        font-family: var(--font-family-main);
        font-size: var(--base-font-size);
      }

      h1, 
      h2, 
      h3{
        font-family: var(--font-family-headers);
        font-weight: 700;
        line-height: 1.1;
      }

      h1{
        font-size: 3em;
      }

      h2{
        font-size: 2em;
        margin-top: 1.75em;
      }

      h3{
        font-size: 1.6em;
        margin-top: 1.75em;
      }
    </style>
 
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <!--homepage stylesheet -->
    {%if templateClass == "tmpl-home" %}
      <link href="/css/homepage.css" rel="stylesheet" type="text/css">
    {% endif %}
    <!--404 stylesheet -->
    {%if templateClass == "tmpl-404" %}
      <link href="/css/four-oh-four.css" rel="stylesheet" type="text/css">
    {% endif %}
    <!--post stylesheet -->
    {%if tags and tags | checkIfPost %}
      <link href="/css/posts.css" rel="stylesheet" type="text/css">
    {% endif %}
  </head>
  <body>
    <header>
      <div class="brand"><a href="{{ chrisf.rootUrl }}">Chris Ferguson</a></div>
      {% if page.url != "/" %}
        {% include "breadcrumb.njk" %}
      {% endif %}
    </header>

    <main class="{% if templateClass %}{{templateClass}}{% else %}page{% endif %}">
      {{ content | safe }}
    </main>

  </body>
</html>