main.tmpl-post {
  --quote-border: 2px solid var(--mid-gray);
  font-size: var(--article-font-size);
  max-width: var(--article-width);
  line-height: var(--article-line-height);
}

time {
  font-style: italic;
  font-size: 1.1em;
}

ol {
  padding-left: 1.5em;
}

ol > li {
  margin-bottom: 1em;
}

blockquote.pullquote {
  border-left: var(--quote-border);
  margin: 2em 1em 2em 0.5em;
  padding: 0 1.4em;
  font-size: 1.2em;
  font-style: italic;
}

main.tmpl-post img {
  margin: auto;
}

main.tmpl-post time + figure {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: 100vw;
  border-width: 2px 0;
  border-style: solid;
  border-color: var(--base-font-color);
}

main.tmpl-post time + figure > img {
  max-width: 100%;
}

main.tmpl-post video{
  width: 100%;
  max-width: 100%;
  aspect-ratio: 3 / 2;
}

nav[aria-label="Post Navigation"]{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2em 0;
  flex-wrap: wrap;
  gap: 2em;
}



/* breakpoints */
@media (min-width: 600px){
  blockquote {
    margin: 2em 2em 2em 1em;
    padding: 0 1.4em;
  }

  main.tmpl-post time + figure {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
  
  main.tmpl-post time + figure > img {
    max-width: calc( var(--article-width) + 4em);
    border-width: 0 2px;
    border-style: solid;
    border-color: var(--base-font-color);
    box-shadow: 6px 0px var(--dominant-color), -6px 0px var(--dominant-color);
  }


}