---
layout: layouts/base.njk
title: Page not found
permalink: 404.html
templateClass: tmpl-404
---
<h1>Page not found :(</h1>
<section class="notice">
  <figure>
    <img src="https://cfergo.s3.eu-west-1.amazonaws.com/weeknd-looking.gif" width="100" height="100" alt="Canadian artist the Weeknd looking for my content." />
  </figure>
  <p>Sorry, I don't have a page at that address, but I do have some other top content for you to read:</p>
</section>
<section>
<h2>Featured Posts</h2>
{% set postlist = collections.posts %}
{% include "postlist.njk" %}
</section>