---
layout: layouts/base.njk
title: Chris Ferguson's Web Log - Homepage
templateClass: tmpl-home
---
<h1>Chris Ferguson's Weblog</h1>
<section>
  <h2>Featured Posts</h2>
  {% set postlist = collections.featured %}
  {% include "postlist.njk" %}
  <a href="/posts" class="thick-underline">All posts...</a>
</section>
<section>
  <h2>Background</h2>
  <p>I am a Product Manager with a passion for innovation and over 12 years’ experience building and delivering technology products and services - solving complex problems for users and businesses.</p>
  <p>As a generalist and renowned problem-solver I have a wide-ranging background that includes an Architecture degree, project manager for engineering fabrications, some graphic design and illustration work, a stint as a postman, and (what I like to think of as) a semi-professional track and field career (I earned £50 in prize money).</p>
  <a href="{{ metadata.github }}" class="icon-link">
    {% include "icons/github.njk" %}
    Github
  </a><br />
  <a href="{{ metadata.linkedin }}" class="icon-link">
    {% include "icons/linkedin.njk" %}
    LinkedIn
  </a><br />
</section>

