---
layout: layouts/base.njk
title: Chris Ferguson's Web Log - Homepage
templateClass: tmpl-home
---
<h1>Chris Ferguson's Weblog</h1>
<section>
  <h2>Featured Posts</h2>
  {% set postlist = collections.featured %}
  {% include "postlist.njk" %}
  <a href="/posts" class="thick-underline">All posts...</a>
</section>
<section>
  <h2>Background</h2>
  <p>As a Product Manager and Delivery specialist I've been bringing advanced technology products and services from ideation to launch for over 8 years now - identifying and solidifying goals, building teams and communicating ideas.</p>
  <p>As a generalist and renowned problem-solver I have a wide-ranging background that includes an Architecture degree, project manager for engineering fabrications, some graphic design and illustration work, a stint as a postman, and (what I like to think of as) a semi-professional track and field career (I earned £50 in prize money).</p>
  <a href="{{ metadata.github }}" class="icon-link">
    {% include "icons/github.njk" %}
    Github
  </a><br />
  <a href="{{ metadata.twitter }}" class="icon-link">
    {% include "icons/twitter.njk" %}
    Twitter
  </a>
</section>

