---
layout: layouts/base.njk
title: Chris Ferguson's Web Log - Homepage
templateClass: tmpl-home
---
<h1>Chris Ferguson's Weblog</h1>
<section>
  <h2>Featured Posts</h2>
  {% set postlist = collections.featured %}
  {% include "postlist.njk" %}
  <a href="/posts" class="thick-underline">All posts...</a>
</section>
<section>
  <h2>Background</h2>
  <p>Head of Strategic Delivery at Big Bite, a WordPress Agency in Middlesbrough, UK. In my time I've been a Postman, a Call-centre operative, a data-entry specialist, an Entertainments Officer, an IT Manager, an Illustrator, a Graphic Designer, a semi-professional athlete, a Web Developer and a Project Manager.</p>
  <a href="https://github.com/cs-ferguson" class="icon-link">
    {% include "icons/github.njk" %}
    Github
  </a><br />
  <a href="https://twitter.com/_chris_ferguson" class="icon-link">
    {% include "icons/twitter.njk" %}
    Twitter
  </a>
</section>
