---
title: Privacy
layout: layouts/base.njk
---

<h1>Privacy</h1>
<p>This site uses fully anonymous tracking via <a href="https://piwik.pro/">Piwik Pro</a>. I don't store cookies, keep a session ID, or log IP addresses. Yes, this means I cannot track repeat visits, but I don't really need to. If I did that, I'd need a consent popup, and I just couldn't bring myself to do that to you.</p>
<h2>What data do I collect?</h2>
<p>I collect number of page visits, time on page, and location data.</p>
<h2>How do I use the data</h2>
</p>I use it to determine bounce rates, and how popular each piece of content is. I use the location data to say "ooooh, we haven't had someone from that country visit before! That's nice."</p>


